body{
    background-color: #e6e6e6;
}

img.logo {
    background-color: #222529;
    border-bottom: 3px solid #7F00FF;
    padding: 0 3px 4px 3px;
    margin-bottom: 10px;;
}

.btn {
    border-radius: 0;
}

