{{ define "main" }}
<div class="row row-cols-1 row-cols-md-2 g-4">
{{ range (.Paginate ( first 4 .Pages.ByTitle )).Pages.ByPublishDate.Reverse }}
<div class="col">
<div class="card">
    {{if isset .Params "featured_image" }}
        <a href="{{ .RelPermalink }}"><img src="{{ index .Params "featured_image" }}" class="card-img-top"></a>
    {{ end }}
    <div class="card-body">
      <h5 class="card-title"><a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ partial "metadata.html" . }}</h6>
    </div>
  </div>
</div>
{{ end }} 
</div>
{{ end }}